body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #ffffff;
  height: 100px;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

main {
  background-color: #ffffff;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
}

img {
  max-width: 100%;
}

footer {
  background-color: #000000;
  color: #ffffff;
  height: 50px;
  padding: 20px;
  text-align: center;
}
